<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Subsistema</title>
  <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
  <h1>Requirements Management</h1>
</header>

<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/proyectos">Proyectos</a></li>
    <li><a href="/documentos">Documentos</a></li>
    <li><a href="/subsistemas">Subsistemas</a></li>
    <li><a href="/asociaciones">Asociaciones</a></li>
    <li><a href="/cargadocs">Carga de Documentos</a></li>
  </ul>
</nav>

<div class="content-box">
  <h2>Editar Subsistema</h2>
  <form th:action="@{/subsistemas/update}" th:object="${subsistema}" method="post">
    <input type="hidden" th:field="*{id_sub}" />
    <label>Nombre del Subsistema:</label>
    <input type="text" th:field="*{nombre_sub}" required />
    <button type="submit" class="btn">Actualizar</button>
  </form>
  <a class="back-link"class="btn btn-secondary" href="/subsistemas">← Volver</a>
</div>

</body>
</html>
