<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subsistemas</title>
    <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

<header>
    <h1>Requirements Management</h1>
</header>

<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/documentos">Documentos</a></li>
        <li><a href="/subsistemas">Subsistemas</a></li>
        <li><a href="/asociaciones">Asociaciones</a></li>
        <li><a href="/cargadocs">Carga de Documentos</a></li>
    </ul>
</nav>

<section class="content-box">
    <h2>Lista de Subsistemas</h2>

    <!-- Botón de Crear Nuevo Subsistema -->
    <a href="/subsistemas/create" class="bt btn-create">Crear Nuevo Subsistema</a>

    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Subsistema</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subsistema : ${subsistemas}">
            <td th:text="${subsistema.id_sub}"></td>
            <td th:text="${subsistema.nombre_sub}"></td>
            <td>
                <a th:href="@{/subsistemas/edit/{id}(id=${subsistema.id_sub})}" class="btn">Editar</a> |
                <a th:href="@{/subsistemas/delete/{id}(id=${subsistema.id_sub})}"
                   class="btn btn-secondary"
                   onclick="return confirm('¿Seguro que quieres eliminar este subsistema?')">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>

